:root {
  --text-color: #757575;
  --white-color: #ffffff;
  --akcent-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--white-color);
}
a {
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
img {
  display: block;
  height: auto;
}
ul {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navigation {
  color: var(--akcent-color);
  position: relative;
}
.web {
  font-family: "Raleway", sans-serif;
  color: var(--akcent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.studio {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--akcent-color);
}
.contact {
  color: #757575;
  display: flex;
  align-items: center;
}
.add-header li a:hover,
.add-header li a:focus {
  color: var(--akcent-color);
}
.add-header mailto:hover,
.add-header mailto:focus {
  color: var(--akcent-color);
}
.cont {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ПІДКРЕСЛЕННЯ ПОСИЛАННЯ */
.navigation::after{
  content: '';
  position: absolute;
  padding: 3px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  top: 35px
}
/* Секція1 */
/* 
СЕКЦІЯ 1 */
.one-section {
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.head {
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-header {
  margin-right: 93px;
}
.mailto {
  fill: #757575;
  margin-right: 10px;
}
.mailto:hover,
.mailto:focus {
  fill: var(--akcent-color);
}
.header {
  display: flex;
}
.cont > li {
  margin-right: 50px;
}
.add-header > li {
  margin-right: 50px;
}
.navig {
  display: flex;
  align-items: center;
}
.cont {
  display: flex;
}
.add-header {
  display: flex;
  margin-left: auto;
}
.baner {
  color: var(--white-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  position: relative;
  color: var(--white-color);
  background-color: var(--akcent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding: 10px 32px;
  border: transparent;
}

/* СЕКЦІЯ 2 */
.benefits {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.benefits-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  letter-spacing: 0.03em;
}
.benefits-one {
  display: flex;
}
.benefits-one > li {
  margin-right: 30px;
}
.benefits-one > li:last-child {
  margin-right: 0;
}
.bg {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  text-align: center;
  padding: 25px 102px;
}
/* СЕКЦІЯ 3 */
.engage-in {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.doing {
  display: flex;
  padding: 0;
}
.doing > li {
  margin-right: 30px;
}
.doing > li:last-child {
  margin-right: 0;
}
.sect {
  padding-top: 0;
}

/* СЕКЦІЯ 4 */
.collective {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 0;
}
.comand {
  background-color: #f5f4fa;
}
.company {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.company > li {
  margin-right: 30px;
}
.company > li:last-child {
  margin-right: 0;
}
.block {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.block h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.social {
  display: flex;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0;
  justify-content: center;
}

/* СЩЦІАЛЬНІ МЕРЕЖІ НАШОЇ КОМАНДИ */
.radius {
  display: block;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  fill: #afb1b8;
}
.radius:hover,
.radius:focus {
  background-color: var(--akcent-color);
  display: block;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  border-radius: 50%;
}


.company .comppeople {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social li:last-child {
  margin-right: 0;
}
.icons {
  fill: #afb1b8;
}
.client-new li:hover .icons,
.client-new li:focus .icons {
  fill: var(--akcent-color);
  /* border: 1px solid #2196F3; */
}
/* Клієнти */
.client {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.16;
  color: #212121;
  margin-bottom: 50px;
}
.client-new {
  display: flex;
}
.client-new li {
  padding: 20px 0;
  margin-right: 30px;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
}
.client-new li:hover,
.client-new li:focus {
  border: 1px solid #2196f3;
}
/* ФУТЕР */
.footer-icon {
  display: flex;
  align-items: baseline;
}
.block-footer {
  margin-left: 70px;
}
/* .radius {
  fill: #ffffff;
} */
/* .social li{
    background-color: rgba(255, 255, 255, 0.1);
border: 1px solid transparent;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
/* .social li:hover,
.social li:focus{
    border: 1px solid #2196F3; 
} */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.prisoed {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.web-footer {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.93;
  letter-spacing: 0.03em;
}
footer {
  background-color: #2f303a;
}
.footer-address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot {
  padding-left: 0;
}
/* ПОРТФОЛІО */
.btn-portfolio {
  background-color: #f5f4fa;
  color: #212121;
  border: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 8%;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white-color);
  background-color: var(--akcent-color);
}
.portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  margin-top: 24px;
  margin-bottom: 4px;
}
.addition {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  margin-bottom: 20px;
}
/* .one-port{
    border: 1px solid #EEEEEE;
} */
.btn-port {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btn-port > li {
  margin-right: 8px;
}
.btn-port > li:last-child {
  margin-right: 0;
}
.head-port {
  border-bottom: 1px solid #ececec;
}
.people {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.people > li {
  margin-right: 27px;
  margin-bottom: 30px;
  border: 0.5px solid #eeeeee;
}

.people > li:nth-child(3) {
  margin-right: 0;
}
.people > li:nth-child(6) {
  margin-right: 0;
}
.people > li:nth-child(9) {
  margin-right: 0;
}
.people > li:hover,
.people > li:focus{
  border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* МОДАЛЬНЕ ВІКНО */


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
}


.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal-batton {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-batton img {
  width: 30px;
  height: 30px;
}

.modal-batton:hover {
  cursor: pointer;
  color: #2196f3;
}

/* 6 ЗАВДАННЯ ПОРТОФЛІО */
.rekurs{
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  color:  #ffffff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people li:focus .overlay,
.people li:hover .overlay {
    transform: translateY(-100%);
}

.overlay p {
    margin: auto;
}
