.engage-in {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .doing {
    display: flex;
    padding: 0;
  }
  .doing > li {
    margin-right: 30px;
  }
  .doing > li:last-child {
    margin-right: 0;
  }
  .sect {
    padding-top: 0;
  }
  .doing li {
    position: relative;
  }
  .dodatki {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
  }